@{
    ViewBag.Title = "Lose Yourself - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>About this project</h1>
            <p>
                LoseYourself was completed in April of 2016 by me, Thomas Smith, as I graduated with a
                Bachelor of Science in Information Technology from Columbus State University.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <table class="table table-bordered table-condensed">
                <tr>
                    <td class="td-blue" colspan="3">Tools</td>
            </tr>
            <tbody>
                <tr>
                    <td>HTML5</td>
                    <td>CSS3</td>
                    <td>Bootstrap</td>
                </tr>
                <tr>
                    <td>ASP.Net</td>
                    <td>MVC</td>
                    <td>Entity Framework</td>
                </tr>
                <tr>
                    <td class="center-row" colspan="3">LoseYourself is deployed on Azure.</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>





@*<div class="row">
    <div class="col-md-6">
        <h1>About this project</h1>
        <p>
            LoseYourself was completed in May of 2016 by me, Thomas Smith, as I graduated with a
            Bachelor of Science in Information Technology from Columbus State University
        </p>
    </div>
    <div class="col-md-3">
        <img src="../../Content/Images/tom.jpg" width="297" height="297" alt="Picture of Thomas Smith, the creator of this website." />
    </div>

</div>
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <table class="table-striped">
            <tr>
                <thead>
                    <th>Technology</th>
                    <th colspan="6">Description</th>
                </thead>
            </tr>
            <tr>
                <td>SQL Power-Architect</td>
                <td>Used to create a entity-relationship diagram to aide in the database design phase.</td>
            </tr>
            <tr>
                <td>JustInMind Prototyper</td>
                <td>Used to mock up a prototype to simulate human-computer interaction.</td>
            </tr>
            <tr>
                <td>ASP.Net MVC</td>
                <td>This website was written in ASP.Net C#, using Razer syntax and the Model/View/Controller design pattern.</td>
            </tr>
        </table>
    </div>
</div>*@